.main-header img{
height: 13px;
width: 15px;
}
.main-header span {
    font-size: 16px;
}

.scroll-container {
    height: 39px;
     background-color: #00FB00;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;          
  padding: 10px 0;
  font-weight: 500;
  position: relative;
}

.scroll-wrapper {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-left 15s linear infinite;
}

.scroll-text {
  display: inline-block;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
